<p style="color: green"><%= notice %></p>

<div id="task-cards-container">
  <div id="timerRootDetail"></div>
</div>

<div style="text-align: center; margin-top: 20px; margin-bottom: 30px">
  <%= link_to "タスク編集", edit_task_path(@task) , class: "button button-link"%> 
  <%= link_to "タスク一覧に戻る", tasks_path , class: "button button-link"%>
</div>
